<div style="background-color: rgb(243, 243, 243);">

  <div style="text-align: center; margin-top: 15pt;">
    <button *ngIf="this.page !== 1" type="button" style="margin-right: 15pt;" class="btn btn-dark" (click)="previous()">
      <i class='fas fa-arrow-left' style='font-size:16px'></i> </button>

    <b>{{ page }}</b>

    <button type="button" class="btn btn-dark" style="margin-left: 15pt;" (click)="next()">
      <i class='fas fa-arrow-right' style='font-size:16px'></i>
    </button>
  </div>

  <div style="margin-top: 10pt;">
    <ul>
      <li *ngFor="let article of news">
        <div class="card mb-3" style="max-width: 50%; margin:auto; margin-top: 20pt;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="data:image/png;base64,{{ article.image }}" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">{{ article.title }}</h4>
                <p class="card-text">{{ article.text | slice: 0:300 }} ...</p>
                <p class="card-text">
                  <small class="text-muted">{{ article.author }}</small>
                  <small class="text-muted" style="margin-left: 15pt;">
                    {{ article.date | date: "medium" }}</small>
                </p>
              </div>
            </div>
          </div>
          <ul>
            <li>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto" style="width: 100%;">
                    <input id="article._id" type="text" class="form-control mb-2" style="width: 100%;"
                      id="inlineFormInput" placeholder="Comment ... " [(ngModel)]="commentHash[article._id]"
                      [ngModelOptions]="{standalone: true}" />

                    <button type="submit" style="width: 20%;" class="btn btn-primary mb-2"
                      (click)="submitComment(article._id)">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </li>
          </ul>

          <ul>
            <li *ngFor="let comment of article.comments">
              <div class="card">
                <b>{{ comment.author }}</b>
                <p> {{comment.text}}</p>
                <small class="text-muted">{{ comment.date  | date : 'medium' }}</small>
              </div>

            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>


  <div style="text-align: center;">
    <button *ngIf="this.page !== 1" type="button" style="margin-right: 15pt;" class="btn btn-dark" (click)="previous()">
      <i class='fas fa-arrow-left' style='font-size:16px'></i> </button>

    <b>{{ page }}</b>

    <button type="button" class="btn btn-dark" style="margin-left: 15pt;" (click)="next()">
      <i class='fas fa-arrow-right' style='font-size:16px'></i>
    </button>
  </div>
</div>